.x-line-path {
  fill: none;
  stroke-width: 1px;
  stroke: red;
}

.x-x-axis-tick > text {
  font-family: Consolas, Monospaced;
  font-size: 12px;
  alignment-baseline: hanging;
  text-anchor: middle;
}

.x-graph-bg {
  fill: #eeeeee;
}

.x-graph-content-bg {
  fill: white;
}

.x-y-axis-tick > text {
  font-family: Consolas, Monospaced;
  font-size: 12px;
  text-anchor: end;
  alignment-baseline: middle;
}
