<h1>Is Ember Really Fast Yet?</h1>
<h3>Test #1: graphs in an each</h3>

{{#each model as |line|}}
  {{#x-graph
    minX=0
    maxX=100
    topY=100
    rightX=100
    bottomY=0
    leftX=0
    width=200
    height=100
    marginBottom=20
    marginLeft=50
    marginRight=10
    marginTop=10}}
      {{#x-graph-content}}
        {{x-line data=line.data}}
      {{/x-graph-content}}
    {{#x-x-axis height=20 count=8 as |tick|}}
      <text>{{tick}}</text>
    {{/x-x-axis}}

    {{#x-y-axis width=50 count=5 as |tick|}}
      <text>{{tick}}</text>
    {{/x-y-axis}}
  {{/x-graph}}
{{/each}}
